html {
    height:100%;
    width: 100%;
}

h1 {
  margin: 50px;
  color: dodgerblue;
}
.cry {
  width: 316px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

.carousel.slide {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.yay {
  width: 316px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.three {
  width: 316px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.card {
margin-top:100px; ;
}
body {
background: linear-gradient(to top, #2c87ff 0%, #c7e1f5 100%);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
}
.words {
  box-shadow: 2px #00acf0;
  background-color: hsl(209, 100%, 94%);
}
.intro {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}